body {
  background-color: #f9dc5c;
}

#title {
  color: #011936;
  text-align: center;
  margin: 20px;
}

#maindiv {
  background-color: #f4fffd;
  width: 980px;
  margin: 0 auto;
  border-radius: 8px;
}

#start-div {
  display: flex;
  justify-content: center;
}

#quiz-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#timer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#question {
  display: flex;
  justify-content: center;
}

.buttonZ {
  background-color: #ed254e;
  color: #f4fffd;
  border-radius: 8px;
  border: none;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  font-size: 26px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.answer-button {
  background-color: #011936;
  color: #f4fffd;
  border-radius: 8px;
  border: none;
  padding: 8px;
  margin: 6px;
  text-align: center;
  font-size: 20px;
  width: 280px;
}

#results-image {
  display: flex;
  justify-content: center;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#end-game {
  display: none;
}

#endGame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* COLOR PALLETTE
#ED254E
#F9DC5C
#F4FFFD
#011936
#465362
*/
