body {
  background-color: #f9dc5c;
  background-image: url("https://www.transparenttextures.com/patterns/circles.png");
  font-family: "Merriweather", serif;
}

#title {
  color: #011936;
  text-align: center;
  margin: 20px;
  font-family: "Abril Fatface", cursive;
  font-size: 46px;
}

#maindiv {
  background-color: #f4fffd;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  width: 980px;
  margin: 0 auto;
  border-radius: 8px;
}

#start-div {
  display: flex;
  justify-content: center;
}

#quiz-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#timer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  margin: 20px 10px;
}

#question {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 24px;
}

#wrongRight {
  font-size: 20px;
  margin: 0 0 10px 0;
  font-style: italic;
}

#correctText {
  font-size: 24px;
}

#correct-answers {
  font-size: 18x;
}

#incorrect-answers {
  font-size: 18px;
}

.buttonZ {
  background-color: #ed254e;
  color: #f4fffd;
  border-radius: 8px;
  border: none;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  font-size: 26px;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.answer-button {
  background-color: #011936;
  color: #f4fffd;
  border-radius: 8px;
  border: none;
  padding: 8px;
  margin: 6px;
  text-align: center;
  font-size: 20px;
  width: 280px;
}

#results-image {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  font-size: 20px;
}

#end-game {
  display: none;
}

#endGame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* COLOR PALLETTE
#ED254E
#F9DC5C
#F4FFFD
#011936
#465362
*/
